@model marcajeUMG.Models.DB.Usuario

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contraseña)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contraseña)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPropietario1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPropietario1.Carne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPropietarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPropietarioNavigation.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoUsuarioNavigation.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdUsuario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
